[submodule "bash/z"]
	path = bash/z
	url = https://github.com/rupa/z.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule "bash/v"]
	path = bash/v
	url = https://github.com/rupa/v.git
[submodule "guile-colorized"]
	path = guile-colorized
	url = https://gitlab.com/NalaGinrut/guile-colorized
