*~
.*.swp
\#*#
*.pyc
local_*
.netrwhist
.DS_Store
rlwrap/*_history
/fish/fish_variables
/fish/functions/*tide*
/fish/functions/__z*
/fish/functions/fish_prompt.fish
/fish/functions/fish_mode_prompt.fish
/vim/bundle/
